/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(211, 186, 186);
}

/* Style the header */
header {
  background-color: #182c72;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style the navigation bar */
nav {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categorySelect {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

#loadNewsButton, #loadSavedButton {
  background-color: #20195c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loadNewsButton:hover, #loadSavedButton:hover {
  background-color: #555;
}

/* Style the main section */
main {
  padding: 20px;
  text-align: center;
}

#hidden {
  margin-top: 20px;
}

#newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the news items */
.newsItem {
  width: 10000px;
  background-color: grey;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(28, 11, 11);
}

.newsItem h4 {
  margin-top: 0;
}

.newsItem p {
  font-size: 14px;
  margin: 10px 0;
}

.newsItem a {
  text-decoration: none;
  color: #082b96;
}

.newsItem a:hover {
  text-decoration: underline;
}
