/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(211, 186, 186);
}

/* Style the header */
header {
  background-color: #182c72;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* Style the navigation bar */
nav {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categorySelect {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

#loadNewsButton, #loadSavedButton {
  background-color: #20195c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Style the main section */
main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#hidden {
  margin-top: 20px;
}

#newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the news items */
.newsItem {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  border-radius: 16px;
  background-color:  silver;
}

.savense {
  height: 100px;
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  background-color: gold;
}

.likeButton {
  margin-top: 20px;
  padding: 5px 10px;
  cursor: pointer;

}

.img{
  height: 200px;
  width: 300px;
}

#box{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#innerbox{
  display: flex;
  flex-direction: column;
}

#loadSavedButton{
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #20195c;
}

#loadNewsButton{
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #20195c;
}

#categorySelect{
  font-size: 20px;
  padding: 10px;
  border-radius: 16px;
  background-color: #ebf6f5;
}

#header{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


strong{
  color: green;
}


#text{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}